<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Accelerator</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
    <div id="console"></div>
    <div id="degree"></div>
<body>
    <script>
        var elem = document.getElementById("console")
        var degree = document.getElementById("degree")
        window.addEventListener("deviceorientationabsolute", manageCompass, true);
        function manageCompass(event) {
            if (event.webkitCompassHeading) {
                absoluteHeading = event.webkitCompassHeading + 180;
            } else {
                absoluteHeading = 180 - event.alpha;
            }
            degree.innerHTML = absoluteHeading;
        }
        window.addEventListener('devicemotion', function(event) {
            elem.innerHTML = `x:${Math.round(event.acceleration.x*100)/100},y:${Math.round(event.acceleration.y*100)/100}`;
        });
    </script>
</body>
</html>